<% include ./partials/header.ejs%>
<div class= "container">
<h1>This is the homepage</h1>
<a href="/register">Sign Up!</a>
<a href="/login">Login</a>
<a href="/logout">Logout</a>
</div>
<% include ./partials/footer.ejs%>
